body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#container{
    width: 1350px;
    /* border: 1px solid; */
}
#head{
    height: 100px;
    width: 1350px;
    /* border: 2px solid; */
    padding: 10px 0px;
    
}
#logo h1 a{
   float: left;
   text-decoration: none;
   font-size:50px;
   font-weight: bold;
   color: rgb(245, 74, 44);
}
#search{
   float: right;
   height:50px;
   width:500px;
   background: rgb(5, 187, 248);
   padding: 20px 20px 0 20px;
   border-radius:  10px 0 0 10px;
}
.text{
    float:left;
    width: 350px;
    padding: 5px;
    font-size: 15px;
    color:#514141;
    font-weight: bold;
    border: 1px #fff;
    border-radius: 5px;
    background: #fff url(../project/search.png) no-repeat right center;
}
.submit{
    float:right;
    padding: 5px;
    font-weight: bold;
    color: #fff;
    background-color: #514141;
    border: 1px solid #fff;
    border-radius: 5px;
}
#menu{
    height: 35px;
    background-color:rgb(5, 187, 248);
    padding: 10px 0;
   
}
#menu a{
    color: antiquewhite;
    height: 30px;
    line-height: 30px;
    padding: 0px 75px;
    text-decoration: none ;
    border-right: 1px solid antiquewhite;
    text-transform: capitalize  ;
    font-size: 18px;
}
#menu a:last-child{
    border-right: none;
}
#menu a.log{
    color: rgb(245, 59, 59);
}
#menu a:hover,#menu a.active{
    font-size: 19px;
    color: red;
    font-weight: bold;
}
#intro{
    height: 300px;
    width: auto;
    background-color:rgb(5, 187, 248) ;
    padding: 30px;
    margin: 15px 0;
}
#intro h3{
    font-size: 50px;
    color: rgba(0, 0, 0, 0.945);
}
#intro p{
    font-size: 25px;
    text-align: justify;
    color: rgb(53, 45, 59);
}
.side{
    height: 500px;
    width: 600px;
    border: 2px solid rgb(5, 187, 248);
    border-radius: 20px;
    padding: 10px 30px;
}
.side h3{
    color: rgba(0, 0, 0, 0.915);
    font-size: 30px;
}
.side ul{
    padding-top: 10px;
}
#left{
    float: left;
}
#left ul li{
    padding: 5px 0px 5px 10px;
    list-style-image: url(../project/checkbox.png);
}
#right ul li{
    padding: 20px 0px 20px 4%;
    list-style-image: url(../project/background.png);
}
#right{
    float: right;
}

.side ul li a{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: #514141;
}
.side ul li a:hover{
    font-size: 23px;
    color: rgb(5, 187, 248) ;
}
.clear{
    clear: both;
}
#footer{
    height: 50px;
    background: rgb(5, 187, 248);
    padding: 10px 30px;
    margin-top: 15px;
    text-align: center;
    padding-top: 40px;
    font-weight: lighter; 
    color: #fff;
}
