*
{
    box-sizing: border-box;
}
body
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
#container
{
    /* width: 1350px; */
    width: 95%;
    /* border: 2px red solid; */
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
#header
{
    /* height: 100px; */
    padding: 10px 0px;
    display: flex;
    flex-wrap: wrap;
}
#logo
{
    /* float: left; */
    flex: 50%;
}
#logo h1 a
{
    text-decoration: none;
    font-size: 50px;
    font-weight: bold;
    color: #ec3535;
}
#searchbox
{
    /* float: right; */
    flex: 50%;
    /* background-color:#0080ff; */
    background: linear-gradient(#e4f2b9,#0080ff);
    /* width: 500px; */
    /* height: 50px; */
    padding: 20px;
    border: 1px white solid;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text
{
    float: left;
    width: 350px;
    padding: 5px;
    font-size: 15px;
    color: #514141;
    font-weight: bold;
    border: 1px #fff solid;
    border-radius: 5px;
    background: #fff url(../images/search.png) no-repeat right center;
}
.submit
{
    margin-left: 10px;
    float: right;
    padding: 5px;
    font-weight: bold;
    color: white;
    background-color: #514141;
    border: 1px #fff solid;
    border-radius: 5px;
}
#menu
{
    /* height: 35px; */
    /* background-color: #0080ff; */
    background: linear-gradient(#292727,#0080ff);
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center;
    align-self: center; */
}
#menu a
{
    padding: 0px 90px;
    height: 30px;
    text-decoration: none;
    color: antiquewhite;
    line-height: 30px;
    text-transform: capitalize;
    border-right: 1px solid antiquewhite;
    font-size: 15px;
}
#menu a:last-child
{
    border-right: none;
}
#menu a.log
{
    color: #ec3535;
}
#menu a:hover,#menu a.active
{
    font-size: 16px;
    color: #ec3535;
    font-weight: bold;
}
/* Small screen menu setting */
@media screen and (max-width:700px) 
{
    #menu
    {
        flex-direction: column;
        align-content: center;
    }
    #menu a 
    {
        border-right: none;
    }
}
#intro
{
    /* background-color: #5a96d2; */
    background: linear-gradient(#e4f2b9,#0080ff);
    padding: 30px;
    margin: 15px 0px;
}
#intro h3
{
    font-size: 50px;
    color: #000022;
}
#intro p
{
    font-size: 25px;
    text-align: justify;
    color: #57565d;
}
.sidebars
{
    display: flex;
    flex-wrap: wrap;
}
.sidebar
{
    /* height: 500px; */
    /* width: 600px; */
    height: 100%;
    width: 100%;
    border: 2px solid #0080ff;
    border-radius: 20px;
    padding: 10px 30px;
    /* flex: 50%; */
}
.sidebar h3
{
    color: #514141;
    font-size: 30px;
}
.sidebar ul
{
    padding-top: 10px;
}
.sidebar ul li a
{
    text-decoration: none;
    font-size: 20px;
    color: #57565d;
}
.sidebar ul li a:hover
{
    color: #0080ff;
    font-size: 22px;
    font-weight: bold;
}
#leftsb ul li
{
    padding: 5px 0px 5px 10px;
    list-style-image: url(../images/checkbox.png);
}
#rightsb ul li
{
    padding: 20px 0px 20px 30px;
    list-style-image: url(../images/background.png)
}
/* #leftsb
{
    float: left;
}
#rightsb
{
    float: right;
} */
.sidebarwrapper
{
    padding: 5px;
    flex: 50%;
}
.card
{
    width: 100%;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
}
.card .cardhead
{
    background-color: #0080ff;
    padding: 10px;
}
.card .cardhead h3
{
    text-align: center;
    color: white;
}
.clear
{
    clear: both;
}
#footer
{
    /* height: 50px; */
    /* background-color: #0080ff; */
    background: linear-gradient(#292727,#0080ff);
    padding: 10px 30px;
    margin-top: 15px;
}
#footer p
{
    text-align: center;
    color: #fff;
    padding-top: 15px;
}